.profile-image {

    width: 16rem;
    height: 16rem;
    background: url("../img/rbsmall2.jpg") no-repeat;
    background-size: cover;
    border-radius: 3rem;
    margin: 2.5rem auto 2.5rem auto;
}


.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downtowndurham.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.portfolio {
    .transparent{
           background-color: #BAC5D1;
       }
}
.portfolio h1 {
    border-bottom: 0.2rem solid #3AADC7;
    margin-bottom: 7rem;
    color: #ffffff;
}


.portfolio-pane {
    width: 34rem;
    height: 20rem;
    overflow: hidden;
    background-color: #3AADC7;
    display: inline-block;
    color: #ffffff;
}


.portfolio-pane:hover .portfolio-desc {
    display: block;
    float: left;
}


.portfolio-pane:hover .portfolio-image {
    display: none;
}


.portfolio-image {
    width: 100%;
    height: 100%;
}


.portfolio-desc {
    display: none;
    padding: 1rem;
}

.portfolio-desc h2 {
    font-weight: 400;
}

    .portfolio-desc a {
    color: #ffffff;
    text-decoration: none;
}

.portfolio-desc p {
    margin-bottom: 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4rem;
    text-align: left;
}
